- page_title @tournament.name

%h2 Tournament Info
= show_for @tournament do |t|
  = t.attribute :win_value
  = t.attribute :draw_value

- if ! @tournament.started?
  = render :partial => 'registration'
- elsif @tournament.underway?
  = render :partial => 'underway'
- elsif @tournament.finished?
  %h2 Results:
  = render :partial => 'standings'
