- page_title @tournament.name

%h2 Tournament Info
= show_for @tournament do |t|
  = t.attribute :win_value
  = t.attribute :draw_value

- if @tournament.current_round == 0
  %h2 Register Players
  %div
    %ol#players
      - @tournament.players.each do |player|
        - next if player.new_record?
        %li= player.name

    = simple_form_for [@tournament, @player] do |f|
      = f.input :name
      %div= f.submit 'Add Player'

  = button_to 'Start Tournament', start_round_tournament_path(@tournament)
- else
  %h2= "Round #{@tournament.current_round} of #{@tournament.total_rounds}"
  #matches
    = render @tournament.current_matches

  - if @tournament.unfinished_matches.count == 0 && @tournament.current_round < @tournament.total_rounds
    = button_to 'Start Next Round', start_round_tournament_path(@tournament)
