= show_for @tournament do |t|
  = t.attribute :name
  = t.attribute :win_value
  = t.attribute :draw_value

- if @tournament.current_round == 0
  %ol#players
    - @tournament.players.each do |player|
      - next if player.new_record?
      %li= player.name

  = simple_form_for [@tournament, @player] do |f|
    = f.input :name
    = f.submit 'Add Player'

  = button_to 'Start Tournament', start_round_tournament_path(@tournament)
- else
  %h2= "Round #{@tournament.current_round} of #{@tournament.total_rounds}"
  #matches
    - @tournament.matches.each do |match|
      %div
        - if match.player_2_id
          = simple_form_for [@tournament, match] do |f|
            = f.input :player_1_wins, as: :integer, label: match.player_1_name, wrapper_html: {class: result_class(match, 1)}
            = f.input :player_2_wins, as: :integer, label: match.player_2_name, wrapper_html: {class: result_class(match, 2)}
            = f.input :draws, as: :integer
            = f.submit 'Submit Results'
        - else
          %div= match.player_1_name
          %div= match.player_2_name
