%div[match]
  - if match.player_2_id
    = simple_form_for [match.tournament, match] do |f|
      = f.input :player_1_wins, as: :integer, label: h(match.player_1_name), wrapper_html: {class: [result_class(match, 1), 'player_1']}
      = f.input :player_2_wins, as: :integer, label: h(match.player_2_name), wrapper_html: {class: [result_class(match, 2), 'player_2']}
      = f.input :draws, as: :integer, wrapper_html: {class: 'draws'}
      .submit
        = f.submit 'Submit Results'
  - else
    .player_1.winner
      %span= match.player_1_name
    .bye
      %span= match.player_2_name
